NUXT_TELEMETRY_DISABLED=true

PRODUCT_NAME="Modeling Commons"
PRODUCT_DESCRIPTION="A platform for sharing and exploring NetLogo models."
PRODUCT_KEYWORDS="NetLogo, modeling, simulation, agent-based modeling, system dynamics"
PRODUCT_VERSION=
PRODUCT_DISPLAY_NAME=
PRODUCT_BUILD_DATE=$(date +%Y-%m-%dT%H:%M:%SZ)
PRODUCT_WEBSITE="https://www.modelingcommons.org"

NUXT_PUBLIC_API_BASE="http://localhost:3000"
NUXT_PUBLIC_AUTH_BASE="http://localhost:3000/api/auth"

# Enable for Development
# NUXT_DEV_TOOLS=true
