NUXT_TELEMETRY_DISABLED=true

PRODUCT_NAME="Modeling Commons"
PRODUCT_DESCRIPTION="The Modeling Commons is for sharing and discussing agent-based models written in NetLogo. "
PRODUCT_KEYWORDS="NetLogo, modeling, simulation, agent-based modeling, system dynamics"
PRODUCT_VERSION=
PRODUCT_DISPLAY_NAME=
PRODUCT_BUILD_DATE=$(date +%Y-%m-%dT%H:%M:%SZ)
PRODUCT_WEBSITE="https://www.modelingcommons.org"

NUXT_PUBLIC_API_BASE="http://localhost:3000"
NUXT_PUBLIC_AUTH_BASE="http://localhost:3000/api/auth"
NUXT_PUBLIC_APP_URL="http://localhost:3005"
NUXT_STORAGE_BASE_URL="http://localhost:51090"
ADMIN_DASHBOARD_URL="http://localhost:3005/admin"

NUXT_PUBLIC_GA_TRACKING_ID=

# Enable for Development
# NUXT_DEV_TOOLS=true
