NUXT_TELEMETRY_DISABLED=true

PROJECT_ROOT="."
REPO_ROOT=../..
VERSIONS_SRC="/versions.json"
EXTENSIONS_DIR="$REPO_ROOT/external/extensions"

PRODUCT_NAME="NetLogo Documentation"
PRODUCT_DESCRIPTION="The official documentation for the NetLogo modeling environment, including user manuals, tutorials, and reference materials."
PRODUCT_KEYWORDS="NetLogo, Documentation, User Manual, Tutorials, Reference, Agent-Based Modeling, Simulation, Programming, Modeling Environment"
PRODUCT_VERSION="7.0.3"
PRODUCT_DISPLAY_NAME="7.0.3"
PRODUCT_BUILD_DATE=$(date +%Y-%m-%dT%H:%M:%SZ)
PRODUCT_WEBSITE="https://docs.netlogo.org"

BUILD_LATEST=${BUILD_LATEST:-true}
BUILD_REPO="git@github.com:NetLogo/docs.git"
BUILD_BRANCH="main"

# Enable for Development
# NUXT_DEV_TOOLS=true
