@use "sass:meta";

@layer theme, base, components, website, utilities;

@layer utilities {
  @include meta.load-css("@repo/tailwind-config/scss/utilities.scss");
}

@layer website {
  @include meta.load-css("@repo/tailwind-config/scss/normalize.scss");

  h1,
  h2,
  h3,
  h4,
  h5 {
    margin-bottom: 0;
  }

  a {
    color: var(--color-link);
  }

  a:hover {
    color: var(--color-link-hover);
  }
  // @include meta.load-css('@repo/tailwind-config/scss/docs-theme.scss');
}

@include meta.load-css("@repo/vue-ui/styles.scss");
