/* =====================================================================
   Theming
   ========================================================================== */
@use "netlogo-mixins.scss" as netlogo;
@use "docs-mixins.scss" as docs;

@include docs.default;
@include netlogo.default;
@include netlogo.table;
@include docs.headings;
@include docs.toc;
@include docs.prose;

/* Docs-specific layouting */
div {
  scroll-margin-top: var(--scroll-margin);
}

body {
  max-width: 100vw;
  overflow-x: hidden;
}

// Special cases for dictionary
div.dict_entry > h3 {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  gap: 1rem;
  padding-inline: var(--space-lg);
}

div.dict_entry > h3 a {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  flex-grow: 1;
  flex-shrink: 0;
}

div.dict_entry > h3:hover {
  background-color: var(--secondary-heading-background-color-hover);
  color: var(--secondary-heading-text-color);
}

div.dict_entry > h4 img {
  display: inline-block;
  margin: 0;
  margin-right: 0.5rem;
  pointer-events: none;
  user-select: none;
}

span.since {
  margin-left: auto;
  font-size: 1rem;
  font-weight: 500;
}

span.since::before {
  content: "Since  ";
  font-style: italic;
  color: inherit;
}

.sidebar-top-level div.dict_entry {
  padding-inline: 0 !important;
}

.sidebar-top-level .prose {
  margin-top: 0 !important;
}

div.dict_entry > :not(:first-child) {
  margin-left: var(--space-lg);
}

span.prim_example,
:not(span.since) > span.prim_example > p {
  display: block;
  width: 100%;
  font-weight: 700;
  font-size: var(--h5-size);
  font-family: var(--font-mono);
  margin: 0;
}

span.prim_example:has(> span.since) {
  display: flex;
  align-items: start;
  justify-content: space-between;
  gap: 1rem;
}

span.prim_example span.since {
  float: right;
  margin: 0 0 0 auto;
  font-size: 0.875rem;
  padding: 0.125rem 0.3em;
  border-radius: var(--radius-sm);
  background: var(--secondary-heading-background-color);
  color: var(--secondary-heading-text-color);
  flex-grow: 1;
  flex-shrink: 0;
}

span.prim_example span.since p {
  display: inline;
}

@media (max-width: 1214px) {
  div.dict_entry > :not(:first-child) {
    margin-inline: var(--space-lg);
  }
}
