/* ==========================================================================
   VARIABLES
   ========================================================================== */
:root {
  /* Typography */
  --font-sans: "Inter", "Helvetica Neue", Helvetica, Arial, sans-serif;
  --font-mono: monospace;
  --line-height: 1.6em;
  --line-height-heading: 1em;
  --line-height-code: 1.6em;

  /* Border */
  --radius-sm: 0.1875rem;
  --radius: 0.25rem;
  --radius-md: 0.3125rem;
  --radius-lg: 0.5rem;
  --radius-xl: 0.625rem;

  /* Color palette */
  --color-blue: #0670ed;
  --color-blue-dark: #074ea9;
  --color-purple: #7b3fe4;
  --color-red: #f31500;
  --color-red-accent: #df1800;
  --color-red-dark: #c30000;
  --color-black: #161616;
  --color-grey: #d5d5d5;
  --color-grey-accent: #555770;
  --color-white: #fdfdfd;
  --color-white-light: #fafafa;

  /* Functional colors */
  --color-primary: var(--color-blue);
  --color-primary-dark: var(--color-blue-dark);
  --color-secondary: var(--color-purple);
  --color-brand: var(--color-red);
  --color-brand-accent: var(--color-red-accent);
  --color-brand-dark: var(--color-red-dark);
  --color-background: var(--color-white);
  --color-background-overlay: #f5f5f5;
  --color-nav-background: #ebebf0;
  --color-nav-active: var(--color-primary);
  --color-nav-hover: #dedede;
  --color-nav-text: #555770;

  --color-warning: #f0ad4e; /* Warning color */
  --color-success: #5cb85c; /* Success color */
  --color-error: var(--color-red-accent); /* Error color */

  --color-text-on-primary: var(--color-white);
  --color-text: var(--color-black);

  --color-link: var(--color-primary);
  --color-link-hover: var(--color-primary-dark);
  --color-link-visited: var(--color-secondary);
  --color-focus: var(--color-brand);
  --color-rule: var(--color-grey-accent);

  /* Functional Colors (@nuxt/ui) */
  --ui-primary: var(--color-primary);
  --ui-secondary: var(--color-secondary);
  --ui-success: var(--color-success);
  --ui-info: var(--color-blue);
  --ui-warning: var(--color-warning);
  --ui-error: var(--color-error);
  --ui-accented: var(--color-brand);

  /* Functional colors (shadcn) */
  --background: oklch(1 0 0);
  --foreground: oklch(0.145 0 0);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.145 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);

  --primary: var(--color-primary);
  --primary-foreground: var(--color-text-on-primary);
  --secondary: oklch(0.205 0 0);
  --secondary-foreground: var(--color-text-on-primary);

  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.556 0 0);

  --accent: var(--color-brand);
  --accent-foreground: var(--color-text-on-primary);

  --destructive: oklch(0.577 0.245 27.325);
  --destructive-foreground: oklch(0.577 0.245 27.325);

  --border: oklch(0.922 0 0);
  --input: oklch(0.922 0 0);
  --ring: oklch(0.708 0 0);

  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);

  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);

  /* Spacing */
  --space-xl: 5rem; /* formerly level-1 inset X */
  --space-lg: 2rem; /* formerly level-2 inset X & gap-lg */
  --space-md: 1rem; /* formerly gap & level-1 inset Y */
  --space-sm: 0.75rem; /* formerly level-2 inset Y */
  --space-xs: 0.5rem; /* formerly level-2 inset Y */
  --space-xxs: 0.25rem; /* formerly level-2 inset Y */

  --max-width-ch: min(90vw, 120ch); /* Maximum width for text content */

  /* Derived spacing */
  --block-bottom: var(--space-md);
  --block-top: calc(2.5 * var(--block-bottom));

  /* Font Styles */
  --h1-size: 2.5rem;
  --h2-size: 2rem;
  --h3-size: 1.75rem;
  --h4-size: 1.5rem;
  --h5-size: 1.125rem;
  --h6-size: 1rem;

  --primary-heading-background-color: var(--color-primary);
  --primary-heading-background-color-hover: #0a55ad;
  --primary-heading-text-color: var(--color-text-on-primary);
  --secondary-heading-background-color: #d4e5f2;
  --secondary-heading-background-color-hover: #b3cde0;
  --secondary-heading-text-color: var(--color-black);

  /* Derived helpers (local to nav) */
  --shadow-md: 0 2px 6px rgba(0, 0, 0, 0.25);
  --dur-fast: 0.25s;

  --scroll-margin: 2em;

  --default-ui-nav-height: var(--line-height) - var(--space-lg);
}

/*
 * Theme variables for Tailwind CSS
 * Some of these repeat the :root variables but are necessary for Tailwind to
 * correctly apply styles based on the theme.
 * It would be nice to avoid duplication.
 */
@theme inline {
  --font-sans: "Inter", "Helvetica Neue", Helvetica, Arial, sans-serif;
  --font-mono: monospace;

  /* Functional colors */
  --color-primary-dark: var(--color-primary-dark);
  --color-brand: var(--color-brand);
  --color-brand-accent: var(--color-brand-accent);
  --color-brand-dark: var(--color-brand-dark);
  --color-background: var(--color-background);
  --color-background-overlay: var(--color-background-overlay);
  --color-nav-background: var(--color-nav-background);
  --color-nav-active: var(--color-nav-active);
  --color-nav-hover: var(--color-nav-hover);
  --color-nav-text: var(--color-nav-text);

  --color-warning: var(--color-warning);
  --color-success: var(--color-success);
  --color-error: var(--color-error);

  --color-text-on-primary: var(--color-text-on-primary);
  --color-text: var(--color-text);

  --color-link: var(--color-link);
  --color-link-hover: var(--color-link-hover);
  --color-link-visited: var(--color-link-visited);
  --color-focus: var(--color-focus);
  --color-rule: var(--color-rule);
  --color-nav-text: var(--color-nav-text);

  /* Black & White */
  --color-black: #161616;
  --color-white: #fff;

  /* ShadCN */
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);

  --leading-normal: 1.6em;

  --radius-xs: 0.1875rem;
  --radius-sm: 0.25rem;
  --radius-md: 0.3125rem;
  --radius-lg: 0.5rem;
  --radius-xl: 0.625rem;

  --drop-shadow-md: 0 2px 6px rgba(0, 0, 0, 0.25);
}

@media (max-width: 1024px) {
  :root {
    --max-width-ch: 150ch;
    --space-xl: 2rem; /* Adjusted for smaller screens */
    --space-lg: 1.5rem; /* Adjusted for smaller screens */
    --space-md: 1rem; /* Adjusted for smaller screens */
    --space-sm: 0.75rem; /* Adjusted for smaller screens */
  }
}

@media print {
  :root {
    --color-white: #ffffff;
    --shadow-md: none; /* No shadows in print */

    --space-xl: 4rem;
    --space-lg: 1.5rem;
    --space-md: 0.9rem;
    --space-sm: 0.65rem;
    --space-xs: 0.35rem;
    --space-xxs: 0.25rem;
  }
  h1[id],
  h2[id],
  h3[id] {
    scroll-margin-top: 80px;
  }
  .anchor-target {
    height: 0px;
    max-height: 0px;
    width: 0px;
    max-width: 0px;
    position: relative;

    transform: translateY(-80px);
  }

  nav,
  footer,
  .toc {
    display: none; /* Hide navigation and footer in print */
  }
}
