# Enable for Development
# NUXT_DEV_TOOLS=true
NUXT_TELEMETRY_DISABLED=true

PROJECT_ROOT="."
REPO_ROOT=../..

PRODUCT_NAME="NetTango"
PRODUCT_DESCRIPTION="Block-based coding environment for NetLogo, the multi-agent programmable modeling environment. Create and share interactive models with a visual programming interface designed for learners of all ages."
PRODUCT_LONG_DESCRIPTION="The official learning resources for NetTango, the block-based coding environment for NetLogo, the multi-agent programmable modeling environment. Explore tutorials, documentation, and guides to get started with NetTango and enhance your modeling skills."
PRODUCT_KEYWORDS="Agent-based modeling, block-based coding, NetLogo, interactive models, visual programming, educational software, multi-agent systems, simulation, learning resources"
PRODUCT_BUILD_DATE=$(date +%Y-%m-%dT%H:%M:%SZ)
PRODUCT_WEBSITE="https://www.netlogo.org"

BUILD_REPO="https://github.com/NetLogo/Helio.git"
BUILD_BRANCH="deploy/nettango"
