@use "sass:meta";

@layer theme, base, components, website, utilities;

@layer utilities {
  @include meta.load-css("@repo/tailwind-config/scss/utilities.scss");
}

@layer website {
  @include meta.load-css("@repo/tailwind-config/scss/normalize.scss");
  @include meta.load-css("@repo/tailwind-config/scss/netlogo-theme.scss");

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 0;
    font-weight: 500;
    letter-spacing: -2%;
  }

  /* Headings */
  h1,
  h2 {
    font-family: var(--font-heading);
    color: var(--color-text);
  }

  h1 {
    font-size: var(--h1-size);
    letter-spacing: 0.00625rem;
    line-height: var(--line-height-heading);
  }

  h2 {
    font-family: var(--font-heading);
    font-size: var(--h2-size);
    letter-spacing: 0.00625rem;
    line-height: var(--line-height-heading);
  }

  h3 {
    font-size: var(--h3-size);
    line-height: var(--line-height-heading);
  }

  h4 {
    font-size: var(--h4-size);
    line-height: var(--line-height-heading);
  }

  h5 {
    font-size: var(--h5-size);
    line-height: var(--line-height-heading);
  }

  h6 {
    font-size: var(--h6-size);
  }
}

@include meta.load-css("@repo/vue-ui/styles.scss");

:root {
  --easy-easing: linear(
    0,
    0.002,
    0.01 3.6%,
    0.034,
    0.074 9.1%,
    0.128 11.4%,
    0.194 13.4%,
    0.271 15%,
    0.544 18.3%,
    0.66 20.6%,
    0.717 22.4%,
    0.765 24.6%,
    0.808 27.3%,
    0.845 30.4%,
    0.883 35.1%,
    0.916 40.6%,
    0.942 47.2%,
    0.963 55%,
    0.979 64%,
    0.991 74.4%,
    0.998 86.4%,
    1
  );
}

.easy-ease-transition {
  transition-timing-function: var(--easy-easing);
}

.page-enter-active,
.page-leave-active {
  transition: all 0.4s;
}
.page-enter-from,
.page-leave-to {
  opacity: 0;
  filter: blur(1rem);
}

.layout-enter-active,
.layout-leave-active {
  transition: all 0.4s;
}

.layout-leave-active {
  position: absolute;
}
.layout-enter-from,
.layout-leave-to {
  opacity: 0;
  height: 0;
}

.border-dashed-stylized {
  background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='8' ry='8' stroke='%238375E7FF' stroke-width='4' stroke-dasharray='8%2c8' stroke-dashoffset='0' stroke-linecap='butt'/%3e%3c/svg%3e");
  border-radius: var(--radius-md);
}
