# Enable for Development
# NUXT_DEV_TOOLS=true
NUXT_TELEMETRY_DISABLED=true

PROJECT_ROOT="."
REPO_ROOT=../..

PRODUCT_NAME="NetLogo Learn Guide"
PRODUCT_DESCRIPTION="A comprehensive guide to learning NetLogo, the multi-agent programmable modeling environment."
PRODUCT_LONG_DESCRIPTION="The official learning resources for NetLogo, the multi-agent programmable modeling environment. Explore tutorials, documentation, and guides to get started with NetLogo and enhance your modeling skills."
PRODUCT_KEYWORDS="NetLogo, NetLogo Web, NetLogo 3D, Hubnet Web, Agent-based Modeling, Turtles, Learn, Guide, Tutorials, Documentation, Multi-agent modeling, Programming environment"
PRODUCT_BUILD_DATE=$(date +%Y-%m-%dT%H:%M:%SZ)
PRODUCT_WEBSITE="https://learn.netlogo.org"

BUILD_REPO="https://github.com/NetLogo/Helio.git"
BUILD_BRANCH="deploy/learn"

DOCS_BUILD_SSR_CATALOG=1
