# Nuxt dev/build outputs
.output
.data
.nuxt
.nitro
.cache
dist
content
.build/
.site-root/
.build-static
.preview
.repo
public/_content
git-metadata.json
routes.json

# Node dependencies
node_modules

# Logs
logs
*.log

# Misc
.DS_Store
.fleet
.idea

# Environment variables
.env
.env.local
